  h1 {
                color: brown;
            }
            img {
                width: 400px;
            }
            #thirdDiv {
                height: 600px; width: 500px;            
                background-color: cadetblue;
                padding: 50px;
                border: 8px double cornflowerblue
            }
            #spanId {font-size: 18px;
            margin-left: 50px;
            }